:root {
 --body-bg: #FFFFFF;
 --body-color: #AC3B61;
 --nav-color: #ffcccb;
 --body-link-color: #AC3B61;
 --card-bg: #EDC7B7;
 --text-color: #000000;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
 :root {
 --body-bg: #000000;
 --body-color: #E2E8E4;
 --body-link-color: #FFCCBB;
 --nav-color: #ffcccb;
 --card-bg: #212529;
 --text-color: #FFFFFF
  }
}

body {
 background-color: var(--body-bg);
 color: var(--body-color) !important;
}

#nav {

    background-color: var(--nav-color); /*Whatever color you want goes here, but in Hexadecimal form*/
    color: #000000; /*The color of your font also goes here, but in hexadecimal form*/
}

/* Enable smooth scrolling */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Style the button */
.top-link {
  transition:       all .25s ease-in-out;
  position:         fixed;
  bottom:           0;
  right:            0;
  display:          inline-flex;
  color:            #000000;

  cursor:           pointer;
  align-items:      center;
  justify-content:  center;
  margin:           0 2em 2em 0;
  border-radius:    50%;
  padding:          .25em;
  width:            1em;
  height:           1em;
  background-color: #F8F8F8;
}

/* Table of Contents */

.TOC {
    background:     #f4f5f8 none repeat scroll 0 0; //f3f6f6
    border:         0px solid #aaa;
    border-radius:  10px;
    display:        table;
    font-size:      95%;
    margin-bottom:  1em;
    padding-left:   2px;
    padding-top:    2px;
    padding-bottom: 2px;
    padding-right:  2px;
    width:          100%;
}

.TOC:before {
    content:        "Table of Contents";
    font-weight:    bold;
    font-size:      1.1em;
    color:          #3973ad;
    padding-left:   1em;
    margin-bottom: -1em;
    line-height:    3em;
}

.TOC li, .TOC ul, .TOC ul li{
    list-style:     decimal;
}

/* Buttons */

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Tablesolution */

.table-wrapper {
  overflow-x: scroll;
}

/* Dark Light Toggle */

.navbar-toggler {
  @extend .navbar-toggler;
  color: var(--text-color);
  border-color: var(--text-color);
}

.navbar-toggler-icon {
  @extend .navbar-toggler-icon;
  background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#000000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>"));
}
