/* General Styles */
body {
    font-family: Arial, sans-serif;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

/* Search Container */
.search-container {
    text-align: center;
    padding: 20px;
}

.search-input, .rows-input, .filter-select {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
}

/* Button Styles */
.btn {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #0078d4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #005a9e;
}

.btn-danger {
    background-color: #d9534f;
}

.btn-danger:hover {
    background-color: #c9302c;
}

/* Filter Dropdown */
#filter-dropdown {
    text-align: center;
    margin: 20px 0;
}

/* Pagination Container */
.pagination-container {
    text-align: center;
    margin: 20px 0;
}

/* Error Message */
.error-message {
    text-align: center;
    padding: 20px;
    color: #d9534f;
}

/* Dictionary Box */
.dictionary-box {
    position: relative; /* Ensure the dictionary box is relatively positioned */
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease; /* Transition for fade-in effect */
}

.dictionary-box.fade-in {
    opacity: 1; /* Visible when the fade-in class is added */
}

.meaning-box {
    padding: 10px;
    margin-top: 10px;
    background-color: #e6ffe6; /* Light green */
    border-radius: 5px;
}

.type-tag {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    padding: 5px 10px;
    background-color: #0078d4;
    color: #fff;
    border-radius: 3px;
    font-size: 0.85em;
    font-weight: bold;
}

.part-of-speech {
    font-size: 0.85em;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}
