---
layout: base
---

<html lang="{{ page.language }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    const lang = "{{ page.language }}";
    const lessonPrefix = "BS";

    function knlangRedirect() {
      let path = window.location.pathname;
      let newPath = (lang === "es") ? '/en' + path : path.replace("/en", "");
      let newUrl = window.location.origin + newPath;
      window.location.href = newUrl;
    }

    function setDefaultStrings(language) {
      const defaultStrings = {
        en: {
          back: "Return",
          dropdown: "Lessons Menu",
        },
        es: {
          back: "Volver",
          dropdown: "Menú de Lecciones",
        }
      };
      return defaultStrings[language];
    }

    async function navigateLesson(offset) {
      const lessonNumber = parseInt("{{ page.lesson_number }}");
      const newLessonNumber = lessonNumber + offset;
      const lessonId = lessonPrefix + (newLessonNumber < 10 ? "0" + newLessonNumber : newLessonNumber);
      const newUrl = window.location.origin + window.location.pathname.replace(/BS\d+/, lessonId);

      const response = await fetch(newUrl, { method: 'HEAD' });
      if (response.ok) {
        window.location.href = newUrl;
      } else {
        alert("Lesson does not exist.");
      }
    }

    async function initButtons() {
      const lessonNumber = parseInt("{{ page.lesson_number }}");

      const prevLessonId = lessonPrefix + (lessonNumber - 1 < 10 ? "0" + (lessonNumber - 1) : (lessonNumber - 1));
      const prevUrl = window.location.origin + window.location.pathname.replace(/BS\d+/, prevLessonId);
      const prevResponse = await fetch(prevUrl, { method: 'HEAD' });

      if (!prevResponse.ok) {
        document.getElementById("prevButton").style.display = "none";
      }

      const nextLessonId = lessonPrefix + (lessonNumber + 1 < 10 ? "0" + (lessonNumber + 1) : (lessonNumber + 1));
      const nextUrl = window.location.origin + window.location.pathname.replace(/BS\d+/, nextLessonId);
      const nextResponse = await fetch(nextUrl, { method: 'HEAD' });

      if (!nextResponse.ok) {
        document.getElementById("nextButton").style.display = "none";
      }
    }

    document.addEventListener('DOMContentLoaded', function() {
      initButtons();
      const defaultStrings = setDefaultStrings(lang);
      document.getElementById("backbutton").innerText = defaultStrings.back;
      document.getElementById("dropdownLessons").innerText = defaultStrings.dropdown;
    });  
  </script>
</head>
<body>
  <div class="intro-header">
    <select onchange="window.location.href=this.value;">
      <option value="" disabled selected><div id="dropdownLessons"></div></option>
      {% for lesson in site.pages %}
        {% if lesson.path contains 'balkeon/letslearn/unit01/lessons' and lesson.language == page.language %}
          <option value="{{ lesson.url }}">{{ lesson.title }}</option>
        {% endif %} 
        {% if lesson.path contains 'en/balkeon/letslearn/unit01/lessons' and lesson.language == page.language %}
          <option value="{{ lesson.url }}">{{ lesson.title }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>

  <main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
    {% if page.before-content %}
      <div class="before-content">
        {% for file in page.before-content %}
          {% include {{ file }} %}
        {% endfor %}
      </div>
    {% endif %}

    <button class="button-82-pushable" onclick="history.back()">
      <span class="button-82-shadow"></span>
      <span class="button-82-edge"></span>
      <span class="button-82-front text">
        <div id="backbutton"></div>
      </span> 
    </button>
    {{ content }}
    <button class="button-17" role="button" onclick="knlangRedirect()">
      <img src="https://img.icons8.com/?size=35&id=95094&format=png&color=000000"/>
    </button>

    <button id="prevButton" class="button-nav-left" onclick="navigateLesson(-1)">
      ←
    </button>
    <button id="nextButton" class="button-nav-right" onclick="navigateLesson(1)">
      →
    </button>

    {% if page.after-content %}
      <div class="after-content">
        {% for file in page.after-content %}
          {% include {{ file }} %}
        {% endfor %}
      </div>
    {% endif %}
  </main>
</body>
</html>
