---
layout: base
---

<html lang="{{ page.language }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    // Definir la variable de lenguaje en el contexto de JavaScript
    const lang = "{{ page.language }}"; // Asegurarse de que lang se establece correctamente

    function knlangRedirect() {
      // Obtener la ruta actual
      let path = window.location.pathname;
      let newPath = "";

      // Agregar "en/" al principio de la ruta
      if (lang === "es") {
        newPath = '/en' + path;
      } else {
        newPath = path.replace("/en", "");
      }

      // Construir la nueva URL
      let newUrl = window.location.origin + newPath;

      // Redirigir a la nueva URL
      window.location.href = newUrl;
    }

    // Función para establecer los textos por defecto
    function setDefaultStrings(language) {
      const defaultStrings = {
        en: {
          back: "Return",
        },
        es: {
          back: "Volver",
        }
      };
      return defaultStrings[language];
    }

    document.addEventListener('DOMContentLoaded', function() {
      // Esto debería ser inyectado por tu generador de sitios estáticos
      const defaultStrings = setDefaultStrings(lang);
      document.getElementById("backbutton").innerText = defaultStrings.back;
    });
  </script>
</head>
<body>
  <div class="intro-header"></div>

  <main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
    {% if page.before-content %}
      <div class="before-content">
        {% for file in page.before-content %}
          {% include {{ file }} %}
        {% endfor %}
      </div>
    {% endif %}

    <!-- Add a dynamic text string here -->

    <button class="button-82-pushable" onclick="history.back()">
      <span class="button-82-shadow"></span>
      <span class="button-82-edge"></span>
      <span class="button-82-front text">
        <div id="backbutton"></div>
      </span> 
    </button>
    {{ content }}
    <button class="button-17" role="button" onclick="knlangRedirect()">
      <img src="https://img.icons8.com/?size=35&id=95094&format=png&color=000000"/>
    </button> 
    {% if page.after-content %}
      <div class="after-content">
        {% for file in page.after-content %}
          {% include {{ file }} %}
        {% endfor %}
      </div>
    {% endif %}
  </main>
</body>
</html>
