---
layout: base
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Language Detection Example</title>
  <script>
    var language = "en"
    // Function to set default strings
    function setDefaultStrings(language) {
     
      const defaultStrings = {
        en: {
          back: "Return",
          
        },
        es: {
          back: "Volver",
          
        }
      };
      return defaultStrings[language];
    }

    document.addEventListener('DOMContentLoaded', function() {
      // This variable should be injected by your static site generator
      let language = '{{ page.language }}'; // Assuming the static site generator will replace this
      const defaultStrings = setDefaultStrings(language);
      document.getElementById("backbutton").innerText = defaultStrings.back;
    });
  </script>
</head>
<body>
  <div class="intro-header"></div>

  <main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
    {% if page.before-content %}
      <div class="before-content">
        {% for file in page.before-content %}
          {% include {{ file }} %}
        {% endfor %}
      </div>
    {% endif %}

    <!-- Add a dynamic text string here -->

    <button class="button-82-pushable" onclick="history.back()">
    <span class="button-82-shadow"></span>
    <span class="button-82-edge"></span>
    <span class="button-82-front text">
    <div id="backbutton"></div>
    </span> </button>
    {{ content }}
    </span> </button> <button class="button-17" role="button" onclick="langRedirect(${language})"><img src="https://img.icons8.com/?size=35&id=95094&format=png&color=000000"/></button> 
    {% if page.after-content %}
      <div class="after-content">
        {% for file in page.after-content %}
          {% include {{ file }} %}
        {% endfor %}
      </div>
    {% endif %}
  </main>
</body>
</html>
