---
layout: default
language: en
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="{{ page.language }}">
    <title>Your Dictionary</title>
    <link rel="stylesheet" href="../../assets/css/dictionary-style.css">
    <script src="../../assets/js/dictScripts/loadTexts.js"></script>
    <script type="module" src="../../assets/js/mainDict.js"></script>
</head>
<body>
    <header>
        <h1>Your Dictionary</h1>
    </header>
    <main>
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search..." class="search-input"/>
            <button id="search-button" class="btn">Search</button>
            <button id="clear-search-button" class="btn btn-danger">Clear Search</button>
            <button id="advanced-search-button" class="btn">Advanced Search</button>
        </div>
        <div class="pagination-container">
            <label id="rows-per-page-label" for="rows-per-page-input">Rows per page:</label>
            <input type="number" id="rows-per-page-input" value="20" min="5" max="500" class="rows-input"/>
            <button id="rows-per-page-button" class="btn">Submit</button>
            <div id="rows-warning"></div>
        </div>
        <!-- Filter Dropdown -->
        <div id="filter-dropdown">
            <label>Filter by:</label>
            <select id="word-filter" multiple class="filter-select">
                <option value="word">Word</option>
                <option value="root">Root</option>
                <option value="noun">Noun</option>
                <option value="verb">Verb</option>
                <option value="adjective">Adjective</option>
                <option value="adverb">Adverb</option>
                <option value="conjunction">Conjunction</option>
                <option value="interjection">Interjection</option>
                <option value="preposition">Preposition</option>
                <option value="expression">Expression</option>
                <option value="pronoun">Pronoun</option>
            </select>
            <button id="apply-filter-button" class="btn">Apply</button>
        </div>
        <div id="dictionary"></div>
        <div id="pagination" class="pagination"></div>

        <!-- Popup for advanced search -->
        <div class="popup-overlay" id="popup-overlay"></div>
        <div class="popup" id="advanced-search-popup">
            <h3>Advanced Search</h3>
            <label id="search-in-word-label">
                <input type="checkbox" id="search-in-word" checked /> Word
            </label>
            <label id="search-in-root-label">
                <input type="checkbox" id="search-in-root" checked /> Root
            </label>
            <label id="search-in-definition-label">
                <input type="checkbox" id="search-in-definition" checked /> Definition
            </label>
            <label id="search-in-etymology-label">
                <input type="checkbox" id="search-in-etymology" checked /> Etymology
            </label>
            <br/>
            <label id="exact-match-label">
                <input type="checkbox" id="exact-match" /> Exact Match
            </label>
            <br/>
            <button id="apply-search-button" class="btn">Apply</button>
            <button id="close-popup-button" class="btn">Close</button>
        </div>

        <!-- Error Message Container -->
        <div id="error-message" class="error-message" style="display: none;"></div>
    </main>
</body>
</html>
