---
layout: base
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../../assets/css/dictionary-style.css">
</head>
<body>
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    <main>
        <div>
            <input type="text" id="search-input" placeholder="Search..." />
            <button id="search-button">Search</button>
            <button id="advanced-search-button">Advanced Search</button>
        </div>
        <div>
            <label for="rows-per-page-input">Elige cuántas palabras ver por página:</label>
            <input type="number" id="rows-per-page-input" value="100" min="5" max="500" />
            <button id="rows-per-page-button">Submit</button>
            <div id="rows-warning"></div>
        </div>
        {{ content }}
        <div id="dictionary"></div>
        <div id="pagination" class="pagination"></div>
    </main>

    <!-- Popup for advanced search -->
    <div class="popup-overlay" id="popup-overlay"></div>
    <div class="popup" id="advanced-search-popup">
        <h3>Advanced Search</h3>
        <label>
            <input type="checkbox" id="search-in-word" checked /> Word
        </label>
        <label>
            <input type="checkbox" id="search-in-definition" checked /> Definition
        </label>
        <label>
            <input type="checkbox" id="search-in-etymology" checked /> Etymology
        </label>
        <br/>
        <label>
            <input type="checkbox" id="exact-match" /> Exact Match
        </label>
        <br/>
        <button id="apply-search-button">Apply</button>
        <button id="close-popup-button">Close</button>
    </div>

    <script type="module" src="../../assets/js/dictScripts/mainDict.js"></script>
</body>
</html>
