---
layout: base
---


<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  {% if page.before-content %}
    <div class="before-content">
      {% for file in page.before-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}

  <!-- Content goes here -->
  {{ content }}

  {% if page.after-content %}
    <div class="after-content">
      {% for file in page.after-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}
</main>

<style>
  body.transition-page {
    opacity: 0;
    transition: opacity 1s ease-in;
  }

  body.transition-page.loaded {
    opacity: 1;
  }
</style>

<script>
  window.addEventListener('load', function() {
    if (document.body.classList.contains('transition-page')) {
      document.body.classList.add('loaded');
    }
  });

  document.addEventListener('DOMContentLoaded', function() {
    if (document.body.classList.contains('transition-page')) {
      document.body.style.opacity = '0';
    }
  });
</script>
